
.form-tambah {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body {
    background-color: rgb(206, 234, 245);
}

.btn-tambah {
    width: 100%;
    background-color: #428bca;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-tambah:hover {
    background-color: #5bc0de;
}

.btn-edit {
    background-color: #f0ad4e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: #f1b55f;
}

.btn-hapus {
    background-color: #f44336;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-hapus:hover {
    background-color: #f5554a;
}

.box {
    border-radius: 5px;
    background-image: url(..//uas_A11.2022.14789/img/bg3.jpg);
    padding: 20px;
}

#tabel {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#tabel td, #tabel th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabel tr:nth-child(even){background-color: #f2f2f2;}

#tabel tr:hover {background-color: #ddd;}

#tabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
